<?xml version="1.0" encoding="utf-8" ?>

<odoo>
    <data>
        <menuitem id="menu_hospital_root"
                  name="HMS"
                  sequence="35"
                  web_icon="om_hospital,static/description/icon.png"/>

         <menuitem id="menu_fontdesk"
                  name="Front Desk"
                  parent="menu_hospital_root"/>

        <menuitem id="menu_patients"
                  name="Patients"
                  parent="menu_fontdesk"
                  action="action_hospital_patient"/>

        <menuitem id="menu_patients_readonly"
                  name="View Patients"
                  parent="menu_fontdesk"
                  action="action_hospital_readonly_patient"/>

        <menuitem id="menu_appointment"
                  name="Appointments"
                  parent="menu_fontdesk"
                  action="action_hospital_appointment"/>

        <menuitem id="menu_configuration"
                  name="Configuration"
                  sequence="100"
                  parent="menu_hospital_root"/>

        <menuitem id="menu_patient_tag"
                  name="Tags"
                  parent="menu_configuration"
                  action="action_patient_tag"/>


    </data>
</odoo>

<!--
<odoo>
  <menuitem name="HMS" id="menu_hospital_root">

        <menuitem id="menu_fontdesk" name="Front Desk">
            <menuitem id="menu_patients" name="Patients" action="action_hospital_patient"/>
            <menuitem id="menu_patients_readonly" name="View Patients" action="action_hospital_readonly_patient"/>
        </menuitem>
    </menuitem>
</odoo>
-->